
.card {
    width: 30%;
    height: fit-content;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 20px 70px rgba(0,0,0,.1);
}
img {
    width: 100%;
    height: auto;
}
.title {
    font-size: 20px;
}
.description {
    font-size: 14px;
    color: grey;
}
.date {
    font-size: 14px;
    font-weight: bold;
}
.card-details {
    padding: 20px;
}
.read-more {
    font-size: 14px;
    cursor: pointer;
    color: teal;
    font-weight: bold;
    margin-top: 5px;
}